p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}

.video-title {
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
}

.video-stats {
    font-size: 14px;
    color: grey;
    margin-bottom: 20px
}

.video-author {
    color: grey;
    font-size: 14px;
    margin-bottom: 20px
}

.video-description {
    color: grey;
    font-size: 14px;
    width: 280px;
    line-height: 22px;
    margin-bottom: 10px;
}

.apple-text {
    margin-top: 230px;
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.shop-link {
    cursor: pointer;
    margin-left: 10px;
}

.shop-link:hover {
    text-decoration: underline;
}